/* Font */
$font-family: "Poppins", sans-serif;

/* Zinc Colors */
$c-zinc-0: #fff;
$c-zinc-50: #fafafa;
$c-zinc-100: #f4f4f5;
$c-zinc-300: #f4f4f5;
$c-zinc-350: #c8c8d0;
$c-zinc-400: #a1a1aa;
$c-zinc-725: #404045;
$c-zinc-750: #38383D;
$c-zinc-775: #313134;
$c-zinc-800: #27272a;

/* Purple Colors */
$c-purple-500: #7b44f2;
$c-pastel-purple-500: #b991ff;

/* Green Colors */
$c-green-500: #84f216;
$c-pastel-green-600: #B1F279;

/* Red Color */
$c-red-500: #f24444;

/* Background Colors */
$c-bg-primary: $c-zinc-0;
$c-bg-secondary: $c-zinc-50;

$c-bg-primary-dark: $c-zinc-800;
$c-bg-secondary-dark: $c-zinc-750;

/* Accent Color */
$c-accent-light: $c-pastel-purple-500;
$c-accent-hover-light: $c-purple-500;

$c-accent-secondary-light: $c-pastel-green-600;
$c-accent-secondary-hover-light: $c-green-500;


$c-accent-dark: $c-purple-500;
$c-accent-hover-dark: $c-purple-500;

$c-accent-secondary-dark: $c-green-500;
$c-accent-secondary-hover-dark: $c-green-500;





/* Font Colors */
$f-c-light: $c-zinc-0;
$f-c-medium: $c-zinc-400;
$f-c-dark: $c-zinc-800;

/* Font Sizes */
$f-size-extra-large: 3.25rem;
$f-size-large: 2rem;
$f-size-medium: 1rem;
$f-size-normal: 0.75rem;
$f-size-small: 0.625rem;
$f-size-extra-small: 0.5rem;



$f-weight-regular: 400;
$f-weight-semibold: 600;


$b-radious-normal: .5rem;
$b-radious-small: .25rem;


$box-shadow-I: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


$p-container-mobile: 2rem 2rem;
$p-container-tablet: 3rem 10rem;