@import "./partials/variables";

.projects {
  padding: $p-container-mobile;
}

.projects .title {
  margin-bottom: 1rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.horizontal-card {
  box-shadow: $box-shadow-I;
  border-radius: $b-radious-small;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  p,
  a,
  h3 {
    font-size: $f-size-normal;
  }

  a {
    color: $c-zinc-400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .horizontal-card-title a{
    color: $c-zinc-800;
  }
  .horizontal-card-links {
    display: flex;
    justify-content: space-between;
    // gap: 2rem;
  }
  .horizontal-card-description {
    text-align: justify;
  }

  .right {
    display: none;
  }
}

.hard-skills {
  margin-top: 2rem;
  .skills {
    display: flex;
    flex-wrap: wrap;
    // gap: 2rem;
    column-gap: 2rem;
  }
  figure {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
    figcaption {
      margin-top: 0.5rem;
      font-size: $f-size-normal;
      color: $c-zinc-400;
    }
  }
}

.projects {
  .title {
    transition: transform 0.7s ease-in-out;
    transform: translateX(-200%);
  }
  .subtitle {
    transition: transform 0.7s ease-in-out;
    transform: translateX(700%);
  }
  .hard-skills {
    transition: transform 0.7s ease-in-out;

    transform: translateX(200%);
  }
  .horizontal-card {
    &:nth-child(even) {
      transition: transform 0.7s ease-in-out;

      transform: translateX(250%);
    }
    &:nth-child(odd) {
      transition: transform 0.7s ease-in-out;

      transform: translateX(-200%);
    }
  }
}

.projects.visible {
  // padding: $p-container-mobile;

  .title {
    transform: translateX(0);
  }
  .subtitle {
    transform: translateX(0);
  }
  .hard-skills {
    transform: translateX(0);
  }
  .horizontal-card {
    &:nth-child(even) {
      transform: translateX(0);
    }
    &:nth-child(odd) {
      transform: translateX(0);
    }
  }
}

.dark {
  .projects {
    background-color: $c-zinc-775;
    .horizontal-card {
      p,
      a,
      h3 {
        color: $c-zinc-0;
        font-size: $f-size-normal;
      }

      a {
        color: $c-zinc-400;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      background-color: $c-zinc-800;
    }
  }
}

@media only screen and (min-width: 992px) {
  .projects {
    padding: $p-container-tablet;
  }
  .projects-wrapper {
    display: flex;
    .projects-container {
      width: 60%;
    }
    .hard-skills {
      .subtitle {
        // background-color: red;
        &::after {
          margin-left: -8rem;
          width: 8rem;
        }
      }
      position: relative;
      top: -4.5rem;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // background-color: red;
      .skills {
        width: 80%;
        justify-content: flex-end;
      }
    }
  }

  .horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 2rem;
    .left {
      // width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .right {
      // width: 30%;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        min-width: 10rem;
        width: 10rem;
        min-height: 10rem;
        height: 10rem;
        object-fit: cover;
        transition: transform 0.4s ease;
        border-radius: $b-radious-small;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      display: flex;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .projects {
    padding: $p-container-desktop;
  }

  // .horizontal-card {
  //     // box-shadow: $box-shadow-I;
  //     // // border-radius: $b-radious-small;
  //     // padding: 2rem;

  //     // display: flex;
  //     // // flex-direction: column;
  //     // gap: 0.25rem;

  //   }
}
