@import "./partials/variables";
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: $font-family;
  color: $f-c-dark;

  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

main {
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}

.button {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: $f-weight-semibold;
  font-size: $f-size-normal;
  text-decoration: none;

  &:hover{
    cursor: pointer;
  }

  &.primary-button {
    background-color: $c-accent-light;
    border: medium solid $c-accent-light;
    border-radius: $b-radious-small;

    color: $c-zinc-0;

    background: linear-gradient(
        to left,
        $c-accent-light 50%,
        $c-accent-hover-light 50%
      )
      right;
    background-size: 200%;

    transition: all 0.5s ease-in-out;

    &:hover {
      background-position: left;
      border: medium solid $c-accent-hover-light;
    }
  }

  &.secondary-button {
    background-color: transparent;
    border: medium solid $c-accent-light;
    border-radius: $b-radious-small;

    color: $c-accent-light;
    background: linear-gradient(to left, transparent 50%, $c-accent-light 50%)
      right;
    background-size: 200%;

    transition: all 0.5s ease-in-out;
    &:hover {
      color: $c-zinc-0;
      background-position: left;
    }
  }
}



.title {
  font-size: $f-size-large;
  &::after {
    content: "";
    height: 0.25rem;
    width: 70%;
    display: block;
    margin-top: -0.55rem;
  }

  // &:nth-child(odd) {
  //   &::after {
  //     background-color: $c-accent-secondary-light;
  //   }
  // }
  // &:nth-child(even) {
  //   &::after {
  //     background-color: $c-accent-light;
  //   }
  // }
}

section {
  // background-color: blue;

  &:nth-child(odd) {
    .title {
      &::after {
        background-color: $c-accent-light;
      }
    }

    // transform: translateX(100%);

    // transition: all .5s ease-in-out;
    // &.visible{
    // transform: translateX(0);
    // }
  }
  &:nth-child(even) {
    .title {
      &::after {
        background-color: $c-accent-secondary-light;
      }
    }
   
    // transform: translateX(-100%);

    // transition: all .5s ease-in-out;
    // &.visible{
    // transform: translateX(0);
    // }
  }
}




.subtitle{
  font-size: $f-size-medium;
  &::after {
    content: "";
    height: 0.25rem;
    width: 30%;
    display: block;
    margin-top: -0.55rem;
    background-color: $c-accent-secondary-light;
  }
}


/* Hide the scrollbar track */
.tags::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

/* Hide the scrollbar thumb */
.tags::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.tags {
  overflow: scroll;
  
  scrollbar-width: none; /* Hide the scrollbar in Firefox */

  display: flex;
  gap: 0.5rem;

  margin-top: 1rem;

  p {
    padding: .25rem .5rem;
    border-radius: 1rem;
    // Use the nth-child selector to assign colors from the list
    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) {
        color: nth($colors, $i);
        $backgroundSoft: mix(nth($colors, $i), white, 20%); // Adjust the percentage (30% in this example) as desired
         background-color: $backgroundSoft;
      }
    }

    font-size: $f-size-small !important;

  }
}

.dark {
  .button {
    
    &.primary-button {
      border: medium solid $c-accent-dark;
      border-radius: $b-radious-small;

      color: $c-zinc-0;

      background: linear-gradient(
          to left,
          $c-accent-dark 50%,
          $c-accent-hover-dark 50%
        )
        right;

      &:hover {
        border: medium solid $c-accent-hover-dark;
      }
    }

    &.secondary-button {
      background-color: transparent;
      border: medium solid $c-accent-dark;
      border-radius: $b-radious-small;

      color: $c-accent-dark;
      background: linear-gradient(to left, transparent 50%, $c-accent-dark 50%)
        right;
      background-size: 200%;

      transition: all 0.5s ease-in-out;
      &:hover {
        color: $c-zinc-0;
        background-position: left;
      }
    }
  }


.title {
  color: $c-zinc-0;
}

section {
  &:nth-child(odd) {
    .title {
      &::after {
        background-color: $c-accent-dark;
      }
    }
  }
  &:nth-child(even) {
    .title {
      &::after {
        background-color: $c-accent-secondary-dark;
      }
    }
  }
}

.subtitle{
  color: $c-zinc-0;
  &::after {
    background-color: $c-accent-secondary-dark;
  }
}



.tags {

  p {
    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) {
        color: nth($colors-dark, $i) !important;
        $backgroundSoft: mix(nth($colors-dark, $i), white, 45%); // Adjust the percentage (30% in this example) as desired
         background-color: $backgroundSoft m !important;
      }
    }

    font-size: $f-size-small !important;

  }
}
}

@media only screen and (min-width: 768px) {
  .title {
    &::after {
      width: 30%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 

.subtitle{
  display: flex;
  justify-content: flex-end;
  text-align:end;
  font-size: $f-size-medium;
  &::after {
    content: "";
    height: 0.25rem;
    width: 30%;
    display: block;
    margin-top: -0.55rem;
    background-color: $c-accent-secondary-light;

    margin-left: -30%;
    position: relative;
    top: 1.65rem;
  }
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title {
    &::after {
      width: 20%;
    }
  }
}

