/* Font */
/* Zinc Colors */
/* Purple Colors */
/* Green Colors */
/* Red Color */
/* Background Colors */
/* Accent Color */
/* Font Colors */
/* Font Sizes */
.about-me {
  padding: 2rem 2.5rem;
}
.about-me .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-me.visible .title,
.about-me.visible .about-me-description,
.about-me.visible .cv-button {
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}
.about-me.visible .soft-skills {
  transition: all 0.7s ease-in-out;
  transform: translateX(0);
}

.about-me .title,
.about-me .about-me-description,
.about-me .cv-button {
  transform: translateX(-120%);
}
.about-me .title {
  transition: all 0.6s ease-in-out;
}
.about-me .about-me-description {
  transition: all 0.7s ease-in-out;
}
.about-me .cv-button {
  transition: all 0.5s ease-in-out;
}
.about-me .soft-skills {
  transition: all 0.9s ease-in-out;
  transform: translateX(90rem);
}

.about-me-description {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: justify;
}

.soft-skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.soft-skills .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.soft-skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.soft-skills .skill:nth-child(even) {
  background-color: #B1F279;
}
.soft-skills .skill:nth-child(even) p {
  color: #B1F279;
}
.soft-skills .skill:nth-child(even) .skill-icon {
  color: #B1F279;
}
.soft-skills .skill:nth-child(odd) {
  background-color: #b991ff;
}
.soft-skills .skill:nth-child(odd) p {
  color: #b991ff;
}
.soft-skills .skill:nth-child(odd) .skill-icon {
  color: #b991ff;
}
.soft-skills .skill .skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.soft-skills .skill .skill-container p {
  font-size: 0.75rem;
}
.soft-skills .skill .skill-container .skill-icon {
  font-size: 2rem;
}

.dark .about-me {
  background-color: #313134;
}
.dark .about-me-description {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: justify;
  color: #fff;
}
.dark .soft-skills .skill:nth-child(even) {
  background-color: #84f216;
}
.dark .soft-skills .skill:nth-child(even) p {
  color: #84f216;
}
.dark .soft-skills .skill:nth-child(even) .skill-icon {
  color: #84f216;
}
.dark .soft-skills .skill:nth-child(odd) {
  background-color: #7b44f2;
}
.dark .soft-skills .skill:nth-child(odd) p {
  color: #7b44f2;
}
.dark .soft-skills .skill:nth-child(odd) .skill-icon {
  color: #7b44f2;
}
.dark .soft-skills .skill .skill-container {
  border-radius: 0.5rem;
}
.dark .soft-skills .skill .skill-container p {
  font-size: 0.75rem;
}
.dark .soft-skills .skill .skill-container .skill-icon {
  font-size: 2rem;
}

@media only screen and (min-width: 992px) {
  .about-me {
    padding: 3rem 10rem;
  }
  .about-me .content {
    display: grid;
    grid-template-areas: "description soft-skills soft-skills" "description soft-skills soft-skills" "cv-button soft-skills soft-skills";
  }
  .about-me-description {
    grid-area: description;
  }
  .soft-skills {
    grid-area: soft-skills;
    align-self: self-start;
    margin-top: -2rem;
    margin-left: 5rem;
  }
  .cv-button {
    grid-area: cv-button;
  }
}

/*# sourceMappingURL=about-me.css.map */
