/* Font */
/* Zinc Colors */
/* Purple Colors */
/* Green Colors */
/* Red Color */
/* Background Colors */
/* Accent Color */
/* Font Colors */
/* Font Sizes */
.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #fff;
  padding: 2rem 2.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.hero-text p {
  font-size: 1rem;
}
.hero-text p:last-child {
  margin-top: 0.5rem;
}
.hero-text .brand-slogan-1 {
  font-size: 2rem;
}
.hero-text .brand-slogan-1 span:first-child {
  color: #b991ff;
}
.hero-text .brand-slogan-1 span:last-child {
  background-color: #B1F279;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 18rem;
  overflow: hidden;
}
.hero-image::before {
  position: relative;
  z-index: 1;
  content: "";
  width: 16rem;
  height: 16rem;
  display: block;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50%;
}
.hero-image img {
  position: relative;
  z-index: 2;
  object-fit: cover;
  width: 15rem;
  height: 14rem;
  border-radius: 50%;
  top: -16rem;
  margin-bottom: -15rem;
}
@keyframes parent-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes child-circles {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.hero-image .hero-icons {
  content: "";
  width: 16rem;
  height: 16rem;
  display: block;
  border-radius: 50%;
  z-index: 3;
  margin-top: -15rem;
  position: relative;
  top: -1rem;
  animation: parent-circle 25s linear infinite;
}
.hero-image .hero-icons .hero-icon {
  animation: child-circles 25s linear infinite;
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  background-color: #fff;
}
.hero-image .hero-icons .hero-icon:nth-child(1) {
  position: relative;
  top: 1rem;
  left: 2rem;
}
.hero-image .hero-icons .hero-icon:nth-child(2) {
  position: relative;
  top: 0rem;
  left: 3rem;
}
.hero-image .hero-icons .hero-icon:nth-child(3) {
  position: relative;
  top: 0rem;
  left: 4rem;
}
.hero-image .hero-icons .hero-icon:nth-child(4) {
  position: relative;
  top: 2rem;
  left: 4rem;
}
.hero-image .hero-icons .hero-icon:nth-child(5) {
  position: relative;
  top: 5rem;
  left: 3rem;
}
.hero-image .hero-icons .hero-icon:nth-child(6) {
  position: relative;
  top: 12rem;
  left: 3rem;
}
.hero-image .hero-icons .hero-icon:nth-child(7) {
  position: relative;
  top: 13rem;
  left: 4rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-social-icons {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-areas: "text text image" "text text image" "buttons buttons image";
    width: 100%;
    justify-content: center;
    padding: 2rem 2.5rem;
  }
  .hero-text {
    grid-area: text;
    align-self: center;
  }
  .hero-text .brand-slogan-1 {
    font-size: 2rem;
  }
  .hero-image {
    grid-area: image;
    width: 18rem;
  }
  .hero-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0.5rem;
  }
  .hero-buttons .button {
    width: 100%;
    min-width: 12rem;
  }
}
.dark .hero {
  background-color: #313134;
}
.dark .hero-text p {
  color: #fff;
}
.dark .hero-text .brand-slogan-1 {
  color: #fff;
}
.dark .hero-text .brand-slogan-1 span:first-child {
  color: #7b44f2;
}
.dark .hero-text .brand-slogan-1 span:last-child {
  background-color: #84f216;
  padding: 0.25rem 0.5rem;
  color: #fff;
}
.dark .hero-image::before {
  background-color: #27272a;
}
.dark .hero-image .hero-icon {
  background-color: #27272a;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero {
    padding: 3rem 10rem;
  }
  .hero-image {
    grid-area: image;
    width: 18rem;
    margin-left: 6rem;
  }
  .hero-social-icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    bottom: 19.5rem;
    left: -3rem;
    margin-bottom: -9.5rem;
  }
  .hero-social-icons a {
    text-decoration: none;
  }
  .hero-social-icons span {
    font-size: 1.25rem;
    color: #a1a1aa;
  }
  .hero-social-icons span:hover {
    cursor: pointer;
    color: #b991ff;
  }
}

/*# sourceMappingURL=hero.css.map */
