/* Font */
/* Zinc Colors */
/* Purple Colors */
/* Green Colors */
/* Red Color */
/* Background Colors */
/* Accent Color */
/* Font Colors */
/* Font Sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #27272a;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

main {
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}

.button {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}
.button.primary-button {
  background-color: #b991ff;
  border: medium solid #b991ff;
  border-radius: 0.25rem;
  color: #fff;
  background: linear-gradient(to left, #b991ff 50%, #7b44f2 50%) right;
  background-size: 200%;
  transition: all 0.5s ease-in-out;
}
.button.primary-button:hover {
  background-position: left;
  border: medium solid #7b44f2;
}
.button.secondary-button {
  background-color: transparent;
  border: medium solid #b991ff;
  border-radius: 0.25rem;
  color: #b991ff;
  background: linear-gradient(to left, transparent 50%, #b991ff 50%) right;
  background-size: 200%;
  transition: all 0.5s ease-in-out;
}
.button.secondary-button:hover {
  color: #fff;
  background-position: left;
}

.title {
  font-size: 1.5rem;
}
.title::after {
  content: "";
  height: 0.25rem;
  width: 70%;
  display: block;
  margin-top: -0.55rem;
}

section:nth-child(odd) .title::after {
  background-color: #b991ff;
}
section:nth-child(even) .title::after {
  background-color: #B1F279;
}

.subtitle {
  font-size: 1rem;
}
.subtitle::after {
  content: "";
  height: 0.25rem;
  width: 30%;
  display: block;
  margin-top: -0.55rem;
  background-color: #B1F279;
}

.tags {
  overflow: scroll;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.tags p {
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.625rem !important;
}
.tags p:nth-child(1) {
  color: hsl(262, 100%, 60%);
  background-color: #e5d6ff;
}
.tags p:nth-child(2) {
  color: hsl(230, 100%, 70%);
  background-color: #e0e6ff;
}
.tags p:nth-child(3) {
  color: hsl(101, 100%, 40%);
  background-color: #d9f5cc;
}
.tags p:nth-child(4) {
  color: hsl(294, 100%, 75%);
  background-color: #fce6ff;
}
.tags p:nth-child(5) {
  color: hsl(33, 100%, 60%);
  background-color: #ffedd6;
}
.tags p:nth-child(6) {
  color: #FF5E6E;
  background-color: #ffdfe2;
}

.dark .button.primary-button {
  border: medium solid #7b44f2;
  border-radius: 0.25rem;
  color: #fff;
  background: linear-gradient(to left, #7b44f2 50%, #7b44f2 50%) right;
}
.dark .button.primary-button:hover {
  border: medium solid #7b44f2;
}
.dark .button.secondary-button {
  background-color: transparent;
  border: medium solid #7b44f2;
  border-radius: 0.25rem;
  color: #7b44f2;
  background: linear-gradient(to left, transparent 50%, #7b44f2 50%) right;
  background-size: 200%;
  transition: all 0.5s ease-in-out;
}
.dark .button.secondary-button:hover {
  color: #fff;
  background-position: left;
}
.dark .title {
  color: #fff;
}
.dark section:nth-child(odd) .title::after {
  background-color: #7b44f2;
}
.dark section:nth-child(even) .title::after {
  background-color: #84f216;
}
.dark .subtitle {
  color: #fff;
}
.dark .subtitle::after {
  background-color: #84f216;
}
.dark .tags p {
  font-size: 0.625rem !important;
}
.dark .tags p:nth-child(1) {
  color: hsl(262, 100%, 20%) !important;
  background-color: #9d8cba m !important;
}
.dark .tags p:nth-child(2) {
  color: hsl(230, 100%, 50%) !important;
  background-color: #8ca0ff m !important;
}
.dark .tags p:nth-child(3) {
  color: hsl(101, 100%, 30%) !important;
  background-color: #a2d18c m !important;
}
.dark .tags p:nth-child(4) {
  color: hsl(294, 100%, 55%) !important;
  background-color: #f598ff m !important;
}
.dark .tags p:nth-child(5) {
  color: hsl(33, 100%, 40%) !important;
  background-color: #e8bf8c m !important;
}
.dark .tags p:nth-child(6) {
  color: hsl(354, 100%, 40%) !important;
  background-color: #e88c95 m !important;
}

@media only screen and (min-width: 768px) {
  .title::after {
    width: 30%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .subtitle {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    font-size: 1rem;
  }
  .subtitle::after {
    content: "";
    height: 0.25rem;
    width: 30%;
    display: block;
    margin-top: -0.55rem;
    background-color: #B1F279;
    margin-left: -30%;
    position: relative;
    top: 1.65rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title::after {
    width: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
